<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.UserMapper">
    <!--resultMap映射-->
    <resultMap type="com.spring.entity.User" id="userRM">
        <!--主键-->
        <id property="yhid" column="yhid" jdbcType="VARCHAR"/>
        <!--属性-->
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="yhname" column="yhname" jdbcType="VARCHAR"/>
        <result property="yhphone" column="yhphone" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询一个数据-->
    <select id="get" parameterType="string" resultMap="userRM" >
        select * from user
        where 1=1
        <if test="username !=null">and username=#{username}</if>
        <if test="password !=null">and password=#{password}</if>
        <if test="yhname !=null">and yhname=#{yhname}</if>
        <if test="yhphone !=null">and yhphone=#{yhphone}</if>
    </select>
    <!--使用map查询-->
    <select id="find" parameterType="map" resultMap="userRM">
        select * from user
        where 1=1
        <if test="username !=null">and username=#{username}</if>
        <if test="password !=null">and password=#{password}</if>
        <if test="yhname !=null">and yhname=#{yhname}</if>
        <if test="yhphone !=null">and yhphone=#{yhphone}</if>
    </select>
    <!--插入一个数据-->
    <insert id="insert" parameterType="com.spring.entity.User">
        insert into user
        (yhid,username,password,yhname,yhphone)
        value
        (
          #{yhid,jdbcType=VARCHAR},
          #{username,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR},
          #{yhname,jdbcType=VARCHAR},
          #{yhphone,jdbcType=VARCHAR}
        )
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.spring.entity.User">
        update user
        <set>
            <if test="password != null">passwrod=#{password}</if>
            <if test="yhname != null">yhname=#{yhname}</if>
            <if test="yhphone != null">yhphone=#{yhphone}</if>
        </set>
        where yhid=#{yhid}
    </update>
    <!--删除一条-->
    <delete id="deleteById" parameterType="string">
        delete from user
        where yhid=#{yhid}
    </delete>
    <!--删除多条-->
    <delete id="delete" parameterType="string">
        delete from user
        where yhid in
        <foreach collection="array" item="yhid" open="(" close=")" separator=",">
            #{yhid}
        </foreach>
    </delete>
</mapper>